<div class="git-layout">
    <div class="tree-container">
      <p-tree [value]="directories"></p-tree>
    </div>
    <div class="content-container">
      <!-- Conteúdo adicional pode ser adicionado aqui -->
      <p>Conteúdo do container</p>
      <div class="content">
        <span class="title">Escreva o comando no console 1:</span>
        <div class="content-input">
          <input type="text" pInputText [(ngModel)]="text" />
          <p-button
            label="Executar"
            (onClick)="executarComando()"
            [disabled]="!text"
          ></p-button>
        </div>
        <p-message severity="success" *ngIf="msg">{{ msg }}</p-message>
      </div>
    </div>
  </div>