<div class="vpn-layout">
  <div class="column">
    <p-card>
      <div class="header-content">
        <span class="header-title">Configurações</span>
      </div>
      <div class="vpn-form">
        <div class="form-group">
          <label for="usuarioVpn">Usuário VPN</label>
          <app-input-and-lookup-crud-usuario-vpn></app-input-and-lookup-crud-usuario-vpn>
        </div>
      </div>
    </p-card>
  </div>

  <div class="column">
    <p-card>
      <div class="form-group">
        <label for="provedor">Provedor</label>
        <p-dropdown [options]="provedores" [(ngModel)]="provedor" optionLabel="NOME" placeholder="Selecione um provedor"></p-dropdown>
      </div>
    </p-card>
  </div>
</div>

