<div class="vpn-layout">
  <div class="column">
    <p-card>
      <div class="header-content">
        <span class="header-title">Configurações</span>
      </div>
      <div class="vpn-form">
        <div class="form-group">
          <label for="usuarioVpn">Usuário VPN</label>
          <p-autoComplete [(ngModel)]="configuracaoVpn.usuarioVpn" [suggestions]="listUsuariosVpn" (completeMethod)="buscarUsuariosVpn($event)" field="USUARIO" [dropdown]="true"></p-autoComplete>
          <p-button label="Novo" icon="pi pi-plus" (onClick)="abrirDialogoUsuarioVpn()"></p-button>
          <p-button label="Editar" icon="pi pi-pencil" (onClick)="abrirDialogoUsuarioVpn(configuracaoVpn.usuarioVpn)"></p-button>
        </div>
      </div>
    </p-card>
  </div>

  <div class="column">
    <p-card>
      <div class="form-group">
        <label for="provedor">Provedor</label>
        <p-dropdown [options]="provedores" [(ngModel)]="provedor" optionLabel="NOME" placeholder="Selecione um provedor"></p-dropdown>
      </div>
      <div class="form-group">
        <p-button label="Conectar" (onClick)="conectar()"></p-button>
        <p-button label="Desconectar" (onClick)="desconectar()"></p-button>
      </div>
      <div class="form-group">
        <label for="terminalOutput">Retorno do Terminal</label>
        <textarea id="terminalOutput" rows="5" cols="30" readonly>{{ terminalOutput }}</textarea>
      </div>
      <div class="form-group">
        <label>Status da VPN:</label>
        <span [style.color]="vpnConnected ? 'green' : 'red'">
          {{ vpnConnected ? 'Conectado' : 'Desconectado' }}
        </span>
      </div>
    </p-card>
  </div>
</div>

<p-dialog header="Usuário VPN" [(visible)]="dialogoUsuarioVpnVisivel" [modal]="true" [closable]="false">
  <div class="form-group">
    <label for="usuario">Usuário</label>
    <input id="usuario" type="text" pInputText [(ngModel)]="usuarioVpn.usuario">
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input id="senha" type="password" pInputText [(ngModel)]="usuarioVpn.senha">
  </div>
    <p-button label="Salvar" icon="pi pi-check" (onClick)="salvarUsuarioVpn()"></p-button>
    <p-button label="Cancelar" icon="pi pi-times" (onClick)="dialogoUsuarioVpnVisivel = false"></p-button>

</p-dialog>